
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection" />
    <title>扫码验证</title>
    <link href="~/Css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="activate_email">

        <div class="erm_img">
            <img src="~/Images/email_logo.png" />
        </div>
        <div class="erm_zt">
            <div class="sm_result">
                <p class="sm_zt_info">验证完成</p>
                <p class="sm_inform"><a href="###">请返回原页面操作</a></p>
            </div>

        </div>
    </div>
</body>
</html>
