
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection" />
    <title>用户解绑</title>
    <link rel="stylesheet" href="~/css/weui.css">
    <link rel="stylesheet" href="~/css/jq-weui-css.css">
    <link rel="stylesheet" href="~/css/phone.css">
    <script type="text/javascript" src="~/scripts/jquery.js"></script>
    <script type="text/javascript" src="~/scripts/fastclick.js"></script>
    <script>
        var PageData = {
            Email: '@ViewData["Email"]'
        };
    </script>
</head>
<body>
    <div class="login_italent_content has_bind_info">
        <div class="weui_msg">
            <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg login_img"><img class="weui_icon_success weui_icon_msg login_poto_img" src="~/images/touxiang.png"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title">已绑定@(ViewData["AppAccountTypeName"])</h2>
                <p class="weui_msg_desc email_send">您的@(ViewData["AppAccountTypeName"])帐号已绑定italent账号</p>
                <p class="weui_msg_desc">@(ViewData["Email"])</p>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <a href="javascript:;" class="weui_btn weui_btn_default clear_bound">解除绑定</a>
                </p>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="~/scripts/jq-weui.js"></script>
    <script type="text/javascript">
		$(function(){
		    $(".clear_bound").bind('click', function () {
		        $.ajax({
		            url: '../User/_UnBind?r='+Math.random(),
		            type: 'post'
		        }).done(function (resp) {
		            $.alert("绑定已解除，请您重新登录或绑定。", function () {
		                var signQuery =window.location.href;
		                var markIndex = signQuery.indexOf("?");                          
		                if(markIndex > -1){
		                    window.location.href = window.location.href+'&r='+Math.random();
		                } else {
		                    window.location.href = window.location.href+'?r='+ Math.random();
		                }
		            });
		        });
			});

		})
    </script>
</body>
</html>