<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beisen.CassandraV2" version="1.1.0.501" targetFramework="net45" />
  <package id="Beisen.Common" version="1.1.0.24" targetFramework="net45" />
  <package id="Beisen.Configuration" version="1.1.0.32" targetFramework="net45" />
  <package id="Beisen.ConnectionPool" version="1.1.0.331" targetFramework="net45" />
  <package id="Beisen.Data" version="1.1.0.5" targetFramework="net45" />
  <package id="Beisen.Definition" version="1.1.0.35" targetFramework="net45" />
  <package id="Beisen.DfsClient" version="1.1.0.480" targetFramework="net45" />
  <package id="Beisen.DTC.Client" version="1.1.0.2" targetFramework="net45" />
  <package id="Beisen.Entity" version="1.1.0.7" targetFramework="net45" />
  <package id="Beisen.EntityFramework.Extensions" version="1.0.2.23" targetFramework="net45" />
  <package id="Beisen.ESB.ClientProxyFactory" version="1.1.0.644" targetFramework="net45" />
  <package id="Beisen.Log.Trace" version="1.1.0.47" targetFramework="net45" />
  <package id="Beisen.Log.Trace.HttpModule" version="1.1.0.27" targetFramework="net45" />
  <package id="Beisen.Logging" version="1.1.0.67" targetFramework="net45" />
  <package id="Beisen.Logging.Collector" version="1.1.0.35" targetFramework="net45" />
  <package id="Beisen.NativeRedis" version="1.1.0.18" targetFramework="net45" />
  <package id="Beisen.PlatformServices.ServiceInterface" version="1.1.0.18" targetFramework="net45" />
  <package id="Beisen.Queue" version="1.1.0.3" targetFramework="net45" />
  <package id="Beisen.RedisV2" version="1.1.0.173" targetFramework="net45" />
  <package id="Beisen.SMSMailPlatformServices.ServiceInterface" version="1.1.0.46" targetFramework="net45" />
  <package id="Ccr.Core" version="1.5.507.0" targetFramework="net45" />
  <package id="EffiProz" version="1.4.3926.17773" targetFramework="net45" />
  <package id="Enyim.Caching" version="1.0.6.0" targetFramework="net45" />
  <package id="log4net" version="1.2.10.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.zh-Hans" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor.zh-Hans" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.zh-Hans" version="3.2.2" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="MySpace.DataRelay" version="1.1.0.13" targetFramework="net45" />
  <package id="MySpace.Shared" version="1.1.0.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="PowerCollections" version="1.0.2141.24679" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.25.1" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net45" />
  <package id="Wintellect.PowerThreading" version="1.0.0.0" targetFramework="net45" />
</packages>