<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beisen.Common" version="1.1.0.24" targetFramework="net452" />
  <package id="Beisen.Configuration" version="1.1.0.29" targetFramework="net45" />
  <package id="Beisen.ConnectionPool" version="1.1.0.331" targetFramework="net45" />
  <package id="Beisen.Data" version="1.1.0.5" targetFramework="net452" />
  <package id="Beisen.ESB.ClientProxyFactoryV2" version="1.1.0.380" targetFramework="net45" />
  <package id="Beisen.Log.Trace" version="1.1.0.47" targetFramework="net45" />
  <package id="Beisen.Logging" version="1.1.0.67" targetFramework="net45" />
  <package id="Beisen.Logging.Collector" version="1.1.0.35" targetFramework="net45" />
  <package id="Beisen.MultiTenantV5.ServiceInterface" version="1.1.0.987" targetFramework="net45" />
  <package id="Beisen.SearchV3" version="1.1.0.596" targetFramework="net45" />
  <package id="Ccr.Core" version="1.5.507.0" targetFramework="net452" />
  <package id="log4net" version="1.2.10.1" targetFramework="net45" />
  <package id="MySpace.Shared" version="1.1.0.7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="PowerCollections" version="1.0.2141.24679" targetFramework="net452" />
  <package id="Wintellect.PowerThreading" version="1.0.0.0" targetFramework="net452" />
</packages>