html{
    font-size: 100px;
    width: 100%;
    height: 100%;
    font-weight: normal;
    
}
body{
    width: 100%;
    height: 100%; 
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size: 14px;
    /*position: relative;*/
}
body,ul,li,p{
    padding: 0;
    margin: 0;
    /*font-size: 14px;*/
}
input{
    border:none;
    outline:medium;
    font-weight: normal; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance:none;
}
input::-webkit-input-placeholder { height:0.28rem;color:#bfc4c7; font-weight:normal ;font-size:0.18rem;letter-spacing: 0rem;line-height: 0.22rem }
input::-moz-placeholder { height:0.28rem;color:#bfc4c7;  font-weight:normal;font-size:0.18rem;letter-spacing: 0rem;line-height: 0.22rem } /* firefox 19+ */
input:-ms-input-placeholder { height:0.28rem;color:#bfc4c7; font-weight:normal;font-size:0.18rem;letter-spacing: 0rem;line-height: 0.22rem } /* ie */
input:-moz-placeholder { height:0.28rem;color:#bfc4c7; font-weight:normal;font-size:0.18rem;letter-spacing: 0rem;line-height: 0.22rem }

/*input:focus {
		font-size: 0.18rem !important;
}
input:hover {
		font-size: 0.18rem !important;
}*/
input{
    padding-top: 0 ;
    padding-bottom: 0;
    margin: 0 ;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance:none;
    font-weight: normal;
    height:0.28rem !important;
}
input[type='password']{
    font-size: 0.18rem;
    /*line-height: 0.23rem;*/
    height: 0.28rem; 
    margin: 0 ;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance:none;
    font-weight: normal;
    letter-spacing: 0rem;
}
input[type='text']{
    margin: 0 ;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance:none;
}
#main{
    width: 100%;
    height: 100%;
    background: #F2F4F5;
    /* 使之可以滚动 */
    overflow-y: auto;
    /* 增加该属性，可以增加弹性 */
    -webkit-overflow-scrolling: touch;
    /*position: absolute;
    top: 0;*/
    /*bottom: 0;*/
    position: relative;
}
#tooltip-error{
    /*position: fixed;
    top:0 ;
    width: 100%;*/
    /*height: 0.41rem;*/
    /*background: #ff7360;*/
}
#tooltip-error .tooltip-error1{
    height: 0.41rem;
    width: 100%;
    background: #ff7360;
    display: none   
}
#tooltip-error .tooltip-error2{
    height: 0.41rem;
    width: 100%;
    background: #ff7360;
    display: none
    

}
#tooltip-error .tooltip-error3{
    height: 0.41rem;
    width: 100%;
    background: #ff7360;
    display: none
    
}
#tooltip-error .tooltip-error4{
    height: 0.41rem;
    width: 100%;
    background: #ff7360;
    display: none
}
#tooltip-error .tooltip-error-item{
    position: fixed;
    top:0 ;
    width: 100%;
}
#tooltip-error .error-icon{
    border-radius:1rem;
    width:0.14rem;
    height:0.14rem;
    background: url('../images/error-tooltip.svg') 50% 50% no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 0.12rem;
    vertical-align: middle;
    float: left;
    margin-top: 0.13rem;
}
#tooltip-error .error-text1,#tooltip-error .error-text2,#tooltip-error .error-text3,#tooltip-error .error-text4{
    font-size: 0.16rem;
    line-height: 0.41rem;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    font-family:PingFangSC-Regular;
    color:#ffffff;
    margin-left: 0.12rem;
}
#tooltip-error .close-error{
    width: 0.16rem;
    height: 0.16rem;
    float: right;
    margin-right: 0.12rem;
    margin-top: 0.12rem;
    display: inline-block;
    color:#ffffff;
    background-position:center;   
    background: url('../images/close-tooltip.svg') 50% 50% no-repeat;

}
#tooltip-right{
    position: fixed;
    top: 0;
    width: 100%;
    height: 0.41rem;
    background: #00E09A;
}
#tooltip-right .right-icon{
    border-radius:1rem;
    width:0.14rem;
    height:0.14rem;
    background: url('../images/right-icon.svg') 50% 50% no-repeat;
    /*background-size: 0.08rem 0.08rem;*/
    background-position: center;
    display: inline-block;
    margin-left: 0.12rem;
    vertical-align: middle;
    float: left;
    margin-top: 0.13rem;
}
#tooltip-right .right-text{
    font-size: 0.16rem;
    line-height: 0.41rem;
    vertical-align: middle;
    /*width: 100%;*/
    text-align: center;
    display: inline-block;
    font-family:PingFangSC-Regular;
    color:#ffffff;
    margin-left: 0.12rem;
    
}
/*未绑定的样式*/
.mobile-no-bind-weixin .no-bind-header {
    width: 100%;
    height: 0.8rem;
    position: relative;
}
.mobile-no-bind-weixin .no-bind-header img{
    width: 1.34rem;
    height: 0.32rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs{
    position: relative;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-name{
    height: 0.28rem;
    /*width: 100%;*/
    background: #fff;
    padding:0.13rem 0.12rem;
    /*margin-bottom: 0.005rem;*/
    position: relative;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .line{
    height: 0;
    width: 200%;
    border-bottom: 0.01rem solid #E6E7E8;
    position: absolute;
    left: -50%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    top: 0.53rem;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-name .input-name-title{
    font-family:PingFangSC-Regular;
    font-size:0.18rem;
    color:#3a4247;
    line-height:0.28rem;
    text-align:left;
    position: absolute;
    display: inline-block;
    height: 0.28rem;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-name .input-name-text{
    /*margin-left: 0.24rem;*/
    /*font-family:PingFangSC-Regular;*/
    font-size:0.18rem;
    color:#3a4247;
    /*line-height:0.23rem;*/
    height: 0.28rem;
    text-align:left;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    width: 100%;
    padding-left: 0.78rem;
    padding-top: 0 ;
    padding-bottom: 0;
    margin: 0 ;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance:none;
    
}


.mobile-no-bind-weixin .no-bind-content .content-inputs .input-mobile-number{
    height: 0.28rem;
    /*width: 100%;*/
    background: #fff;
    padding:0.13rem 0.12rem;
    position: relative;
    /*display: inline-block;*/
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-mobile-number .input-mobile-number-title{
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.36rem;
    color:#3a4247;
    line-height:0.56rem;
    text-align:left;
    padding-right: 0.24rem;
    border-right: 0.01rem solid #E6E7E8;
    position: absolute;
    display: inline-block;
    height: 0.56rem;
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
    left:-0.1rem;
    top: 0;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-mobile-number .input-mobile-number-text{
    /*margin-left: 0.15rem;*/
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.18rem;
    color:#3a4247;
    /*line-height:0.24rem;*/
    height: 0.28rem;
    text-align:left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    width: 100%;
    padding-left: 0.61rem;
    margin: 0 ;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance:none;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-password{
    height: 0.28rem;
    /*width: 100%;*/
    background: #fff;
    padding:0.13rem 0.12rem;
    margin: 0.12rem 0;
    position: relative;
    /*display: inline-block;*/
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-password .input-password-title{
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.18rem;
    color:#3a4247;
    line-height:0.28rem;
    text-align:left;
    position: absolute;
    display: inline-block;
    height: 0.28rem;
     /*z-index: 3;*/
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-password .input-password-text{
    /*margin-left: 0.24rem;*/
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.18rem;
    color:#3a4247;
    text-align:left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    width: 100%;
    padding-left: 0.60rem;
    padding-right: 0.5rem;
    height: 0.28rem;
    margin: 0 ;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance:none;
     /*z-index: 2;*/
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-password .input-password-pw{
    font-size: 0.18rem;
    letter-spacing: 0rem;
    /*padding-top: 0.03rem;*/
    height: 0.28rem;
    margin: 0 ;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance:none;
   
    
}


.mobile-no-bind-weixin .no-bind-content .content-inputs .input-password .password-eye{
    /*border:0.01rem solid #acb7bf;*/
    width:0.28rem;
    height:0.28rem;
    /*border-radius: 0.095rem;*/
    /*background: url('../images/close-eye.svg') no-repeat; */
    background-size: 0.19rem 0.13rem;
    display: inline-block;
    /*position: relative;*/
    /*float: right;*/
    background-position:center;
    position: absolute;
    right: 0.12rem;
    top: 0.13rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


.mobile-no-bind-weixin .no-bind-content .content-inputs .input-password .eye-center{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 100%;
    background: #fff;
    border: 0.01rem solid #acb7bf;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;    
    display: block;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-password .open-eye{
     background-image: url('../images/open-eye.svg') ; 
     background-repeat: no-repeat;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-password .close-eye{
     background-image: url('../images/close-eye.svg');     
     background-repeat: no-repeat;     
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-password .open-eye .eye-center{
    width: 0px;
    height: 0px;
    border: 0px;
    display: none;
}

.mobile-no-bind-weixin .no-bind-content .content-inputs .input-verification{
    height: 0.28rem;
    /*width: 100%;*/
    background: #fff;
    padding:0.13rem 0.12rem;
    position: relative;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-verification .input-verification-title{
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.18rem;
    color:#3a4247;
    line-height:0.28rem;
    text-align:left;
    position: absolute;
    height: 0.28rem;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-verification .input-verification-text{
    /*margin-left: 0.24rem;*/
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.18rem;
    color:#3a4247;
    text-align:left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    width: 100%;
    padding-left: 0.78rem;
    padding-right: 1.0rem;
    height: 0.28rem;
    margin: 0 ;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance:none;
    
}

.mobile-no-bind-weixin .no-bind-content .content-inputs .input-verification .input-verification-tooltip{
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.14rem;
    color:#1e80c7;
    line-height:0.28rem;
    text-align:left;
    /*float: right;*/
    position: absolute;
    right: 0.12rem;
    top: 0.13rem;
    height: 0.28rem;
}
.mobile-no-bind-weixin .no-bind-content .content-inputs .input-verification .no-click{
    color:#bfc4c7;
}


.mobile-no-bind-weixin .no-bind-content .content-inputs .input-verification::after{
    clear: both;
}
.mobile-no-bind-weixin .no-bind-content .content-buttons{
    /*width: 100%;*/
    height: 0.49rem;
    padding: 0 0.15rem;
    background: #F2F4F5;
    position: relative;
    padding-top: 0.6rem;    
}
.mobile-no-bind-weixin .no-bind-content .content-buttons .registered-button{
    height: 100%;
    width: 100%;
    background:#7ECAFA;
    border-radius:3px;
}
.mobile-no-bind-weixin .no-bind-content .content-buttons .registered-button label{
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.2rem;
    color:#ffffff;
    text-align:center;
    vertical-align: middle;
    line-height: 0.49rem;
    width: 100%;
    display: inline-block;
}
.mobile-no-bind-weixin .no-bind-content .content-buttons .button-cover{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}



/*已绑定的样式*/
.mobile-is-bind-weixin{
    padding-top: 0.56rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    height: 100%;
    /*height: calc(100% - 0.56rem);
    height: -webkit-calc(100% - 0.56rem);
    height: -moz-calc(100% - 0.56rem);    */
    background:#ffffff; 
    position: relative;
}
.mobile-is-bind-weixin .is-bind-header {
    width: 100%;
    height: 0.8rem;
    position: relative;
}
.mobile-is-bind-weixin .is-bind-header img{
    width: 1.34rem;
    height: 0.32rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.mobile-is-bind-weixin .is-bind-content{
    margin-top: 0.46rem;
    width: 100%;
}
.mobile-is-bind-weixin .is-bind-content .content-info{
    width: 100%;
    text-align:center;
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.16rem;
    color:#9da1a3;
    line-height:0.2rem;
    text-align:center;
}
.mobile-is-bind-weixin .is-bind-content .content-info label{
    display: block;
    width: 100%;
    text-align:center;    
}
.mobile-is-bind-weixin .is-bind-content .content-info .info-name{
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.2rem;
    color:#3a4247;
    line-height:0.24rem;
    text-align:center;
    display: block;
    margin-top: 0.05rem;
}
.mobile-is-bind-weixin .is-bind-content .content-buttons{
    margin-top: 37px;
    /*width: 100%;*/
    padding: 0 0.15rem;
    background: #ffffff;    
}
.mobile-is-bind-weixin .is-bind-content .content-buttons .login-button{
    height: 0.49rem;
    width: 100%;
    background:#1695f0;
    border-radius:3px;  
}
.mobile-is-bind-weixin .is-bind-content .content-buttons .login-button label{
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    font-size:0.18rem;
    color:#ffffff;
    text-align:center;
    vertical-align: middle;
    line-height: 0.49rem;
    width: 100%;
    display: inline-block;
}
.mobile-is-bind-weixin .release-bind{
    height: 0.16rem;
    position: absolute;
    bottom: 0.4rem;
    /*width: 0.56rem;*/
    margin: auto;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
.mobile-is-bind-weixin .release-bind:hover{
    background: #ffffff;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
.mobile-is-bind-weixin .release-bind label{
    /*font-family:PingFangSC-Regular;*/
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; 
    text-align:center;
    /*vertical-align: middle;*/
    width: 100%;
    display: inline-block;
    font-size:0.14rem;
    color:#1e80c7;
    line-height:0.16rem;
    background: #ffffff;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* 去掉点击时候的默认灰色背景*/
}
.mobile-is-bind-weixin .release-bind label:hover{
    background: #ffffff;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}
